@use 'fonts';
@use 'colors';

.features-block {
  padding: 70px 0;

  &.white-bg {
    background-color: colors.$white;
  }

  .title {
    padding-bottom: 20px;
    margin: 0;
  }

  .sub-features {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  img {
    width: 150px;
    padding-bottom: 20px;

  }
}