@use "colors";

body {
  background-color: colors.$grey;
  margin: 0;

  &.modal-open {
    overflow: hidden;
  }
}

a, button, .button {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}