@use "colors";

body {
  background-color: colors.$grey;
  margin: 0;
  color: colors.$blue-002;

  &.modal-open {
    overflow: hidden;
  }
}

a, button, .button {
  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h2 {
  font-family: HallFetica, sans-serif;
  text-transform: uppercase;
}

.blue-002 {
  background-color: colors.$blue-002;
  color: colors.$white;
}