@use 'colors';

.navigation-bar-top {
  background-color: white;
  .navigation-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: white;
  }

  .navigation-logo, .navigation-item, .navigation-item a{
    color: colors.$blue-002;
    transition: color 0.2s ease;
    &:hover {
      color: colors.$blue-003;
      text-decoration: none;
    }
  }

  button {
    margin: 0 .5rem;
  }

  .separator-bottom {
    border-bottom: 1px solid colors.$grey-001;
    padding: 12px 0;
  }

  .navigation-logo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-transform: uppercase;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .navigation-item {
    padding: .5rem 0;
    a {
      padding: 6px;
    }

    .active {
      color: colors.$white;
      background-color: colors.$blue-004;
      border-radius: 4px;
      transition: background-color 0.2s ease;

      &:hover {
        color: colors.$white;
        background-color: lighten(colors.$blue-004, 10%);
      }
    }
  }

  @include media-breakpoint-up(md) {
    &.navbar {
      padding: 1rem;
    }

    .navigation-item {
      padding: .5rem;
      a {
        padding: .5rem;
      }
    }
  }
  img {
    box-shadow: none;
  }
  .logo{
    width:200px;
  }
}
