<!-- Modal -->
<div class="modal fade" id="aviso-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="avisoModalLabel"><strong>Aviso de Privacidad Integral</strong></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ol>
                    <li>
                        En cumplimiento de lo dispuesto en la Ley Federal de Protección de
                        Datos Personales en Posesión de los Particulares, y su Reglamento
                        (conjuntamente, la “Normativa de Protección de Datos”), por la presente
                        cláusula el firmante queda informado de que los datos personales que
                        facilite a LOMAR mediante la aceptación de las presentes Condiciones
                        Generales y la firma de la Propuesta, así como todos aquellos que facilite
                        en el futuro como consecuencia de su vinculación con LOMAR (los “Datos
                        del Firmante”), se incorporarán a una base de datos en la que LOMAR
                        actuará como responsable.
                    </li>
                    <li>
                        La finalidad del tratamiento de los Datos del Firmante será el
                        mantenimiento, desarrollo, control y ejecución de la relación profesional
                        que, en el marco de la prestación de los Servicios, mantenga con LOMAR;
                        reporte de las asesorías objeto de los Servicios para incluirlas como
                        experiencia de LOMAR; realizar labores de facturación, aclaraciones y
                        seguimiento de cobro; el envío de información, publicidad,
                        comunicaciones y noticias legales. A la aceptación de la Propuesta,
                        LOMAR le informará de otros tratamientos que pueda realizar con los
                        Datos del Firmante, solicitando a tales efectos los consentimientos
                        preceptivos. Asimismo, cualquier cambio le será comunicado al Cliente.
                    </li>
                    <li>
                        El Cliente podrá ejercer en todo momento los derechos de acceso,
                        rectificación, cancelación y oposición de sus datos personales mediante la
                        remisión de la correspondiente solicitud por correo postal a LOMAR,
                        ubicado en Av. Montevideo #489 Colonia Lindavista, C.P. 07300, Ciudad
                        de México, o enviando un mensaje de correo electrónico a la siguiente
                        dirección: contacto@lomar.mx , indicando y acompañando en ambos
                        casos (i) su nombre y domicilio u otro medio para comunicarle la
                        respuesta a su solicitud; (ii) copia de un documento oficial que acredite su
                        identidad o, en su caso, del representante legal acompañado del
                        documento que acredite sus facultades como representante; (iii)
                        descripción clara y precisa de los datos personales respecto de los que se
                        busca ejercer alguno de los derechos de acceso, rectificación, cancelación
                        u oposición; y (iv) cualquier otro elemento o documento que facilite la
                        localización de los datos personales. Asimismo, el Cliente tiene derecho a
                        limitar el uso o divulgación de los datos personales que no son necesarios
                        para llevar a cabo los Servicios a través de los medios mencionados en el
                        párrafo anterior.
                    </li>
                    <li>
                        En el marco de la prestación de los Servicios objeto de la Propuesta
                        puede resultar necesario que LOMAR acceda a datos de carácter personal
                        titularidad del Cliente (los “Datos”), actuando en dicho supuesto como
                        encargado del tratamiento. A tal efecto, LOMAR se compromete y obliga a:
                        <ul>
                            <li>
                                (i) tratar únicamente los datos personales conforme a las
                                instrucciones del responsable;
                            </li>
                            <li>
                                (ii) abstenerse de tratar los datos personales para finalidades
                                distintas a las instruidas por el responsable;
                            </li>
                            <li>
                                (iii) guardar confidencialidad respecto de los datos personales
                                tratados;
                            </li>
                            <li>
                                (iv) abstenerse de transferir los datos personales salvo en el caso de
                                que el responsable así lo determine, la comunicación derive de una
                                subcontratación, o cuando así lo requiera la autoridad competente;
                            </li>
                            <li>
                                (v) implementar las medidas de seguridad conforme a la Normativa
                                de Protección de Datos y las demás disposiciones aplicables; y
                            </li>
                            <li>
                                (vi) suprimir los datos personales objeto de tratamiento una vez
                                cumplida la relación jurídica con el responsable o por instrucciones
                                del responsable, siempre y cuando no exista una previsión legal que
                                exija la conservación de los datos personales.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Por su parte, mediante la presente el Cliente queda informado y
                        autoriza expresamente a LOMAR a que:
                        <ul>
                            <li>
                                (i) permita el acceso a los Datos a aquellas compañías que prestan a

                                LOMAR servicios de apoyo a la gestión y de soporte técnico, en la

                                medida que dicho acceso resulta imprescindible para la ejecución

                                por parte de LOMAR de los Servicios; y
                            </li>
                            <li>
                                (ii) subcontrate, total o parcialmente, los Servicios a las sociedades

                                del Grupo LOMAR, o cualquier otro tercero, cuando se estime

                                necesario para la prestación de los citados servicios, actuando para

                                ello LOMAR en nombre y por cuenta del Cliente, a los exclusivos

                                efectos de lo previsto en la Normativa de Protección de Datos. El

                                tratamiento de los Datos que realice cualquier subcontratista se

                                ajustará a las instrucciones del Cliente y LOMAR suscribirá con cada

                                uno de ellos el preceptivo contrato de prestación de servicios, en los

                                términos previstos en la Normativa de Protección de Datos.
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>