<div class="navigation-bar-top">
    <div class="navigation-container container">
        <a class="navigation-logo" href="<%- buildTime.siteURL %>"><img src="/images/logo-302x77.png" class='logo'/></a>
        <nav class="navigation">
            <% collections.pages.forEach(function (navPage) { %>
                <a class="navigation-item<%- ` ${page.url === navPage.url && 'active'}` %>"
                   href="<%- navPage.url %>">
                    <%= navPage.data.title %>
                </a>
            <% });%>
        </nav>
    </div>
</div>