---
title: 'Legaltech'
permalink: 'Legaltech/index.html'
---
<%- include('/hero', {
mainText: 'Legaltech',
secondaryText: [
'Creamos estrategias jurídicas y legales de acuerdo con las necesidades de su empresa',
'¡La primera consulta es gratis!'
],
ctaButtonText: 'Contáctenos',
additionalClasses: 'legal-bg'
})
%>

<%- include('/side-image', {
heading: 'Servicios Legaltech',
image: { src: '/images/computer.webp', alt: 'Asesoria Legal computadora' },
description: [
'Somos profesionistas de alto nivel con el objetivo corporativo de blindar mediante estrategias jurídicas y legales las necesidades de las empresas. ',
'Tenemos experiencia en las siguientes materias:',
'Contratos, Sociedades Mercantiles, Propiedad Intelectual e Industrial, Marketplaces jurídicos',
'Estrategias de Marketing digital, Posicionamiento de marca en internet, Protección de datos, Informática forense y pericial',
'Compliance y Anticorrupción, Gestión Digital, Cloud Computing, o	Mediación electrónica y soluciones extrajudiciales automatizadas, Blockchain & Smartcontracts',

],
additionalClasses: 'white-bg image-left'
})
%>

<%- include('/grid', {
mainText: '',
elements: [
{ htmlContent: '<h3>Contratos</h3><p><li>Términos y Condiciones</li><li>Políticas</li><li>Due Diligence</li></p>'},
{ htmlContent: '<h3>Sociedades Mercantiles</h3><li> Constitución, administración y funcionamiento de empresas en el entorno digital</li><li>Obligaciones de empresas en el entorno digital</li><li> Emprendimiento de empresas virtuales y modelos de negocio online</li><li>M&A</li></p>'},
{ htmlContent: '<h3>Propiedad Intelectual e Industrial</h3><p><li>Creación y protección de marcas</li><li>Protección de Software</li><li>Patentes e Inventos</li><li>Copyrights</li><li>Secretos Industriales</li></p>'},
{ htmlContent: '<h3>Legaltech</h3><p><li>Marketplaces jurídicos</li><li>Protección de Datos</li><li>Informática Forense y Pericial</li><li>Gestión digital</li><li>Mediación electrónica y soluciones extrajudiciales automatizadas</li></p>'},
{ htmlContent: '<h3>Tech</h3><p><li>Estrategias de Marketing digital</li><li>Posicionamiento de marca en internet</li><li>Cloud Computing</li><li>Blockchain & Smartcontracts</li></p>'},
],
additionalClasses: 'light-blue-bg'
})
%>

<%- include('/cta', {
mainText: 'Somos su mejor opción en temas legales',
secondaryText: [
'¿Necesita una asesoría o tiene dudas legales de usted o de su negocio? Contáctenos y con gusto le ayudaremos.'
],
ctaButtonText: '¡Contáctenos!',
additionalClasses: 'lomar-blue-bg',
noButton: false,
href: ''
})
%>